{% extends "layout.html" %}

{% block title %}OpenVPN-Admin{% endblock %}

{% block page_content %}

    {{ super() }}

    <!-- Users grid -->
    <div class="block-grid row" id="user-grid">
        <h4>
            User List <a class="btn btn-success btn-xs" href="/add_user"><span class="glyphicon glyphicon-plus"></span></a>
        </h4>

        <div class="responsive-table">
            <div class="scrollable-area">
                <table id="table-users" class="table table-bordered table-hover" style="margin: 0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Department</th>
                        <th>Client</th>
                        <th>Email</th>
                        <th>Source</th>
                        <th>Add Time</th>
                        <th>Status</th>
                        <th>Connect Status</th>
                        <th>Operation</th>
                    </tr>
                    </thead>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.depart }}</td>
                            <td>{{ user.client }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.type }}</td>
                            <td>{{ moment(user.addtime).format('YYYY-MM-DD HH:mm') }}</td>
                            <td>{{ user_status[user.status] }}</td>
                            <td>{% if user.online == 1%}Connected{% else %}Disconnected{% endif %}</td>
                            <td>
                                {% if user.status == 1 and user.send_status == 0 %}
                                    <a class="glyphicon glyphicon-envelope action" id="send" title="send to email"
                                       onclick="sendEmail('{{ user.client }}')"></a>
                                {% endif %}
{#                                {% if user.status == 1 and user.load_status == 1 %}#}
{#                                    <a class="glyphicon .glyphicon-envelope action" id="download"#}
{#                                       onclick="downloadClient('{{ user.client }}')"></a>#}
{#                                {% endif %}#}
                                {% if user.status == 1 %}
                                    <a class="glyphicon glyphicon-remove action" id="delete" title="delete"
                                       onclick="deleteUser('{{ user.client }}')"></a>
                                {% endif %}
                                <a class="glyphicon glyphicon-tags action" id="tags" title="log" href="/loglist?title=client&keyword={{ user.client }}"></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="10" class="text-center">No Records</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}
