{% extends "layout.html" %}

{% block title %}OpenVPN-Admin{% endblock %}

{% block page_content %}

    {{ super() }}

    <!-- Users grid -->
    <div class="block-grid row" id="user-grid">
        <h4>
            用户列表 <a class="btn btn-success btn-xs" href="/add_user"><span class="glyphicon glyphicon-plus"></span></a>
        </h4>

        <div class="responsive-table">
            <div class="scrollable-area">
                <table id="table-users" class="table table-bordered table-hover" style="margin: 0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>姓名</th>
                        <th>部门</th>
                        <th>客户端</th>
                        <th>邮箱</th>
                        <th>添加方式</th>
                        <th>添加时间</th>
                        <th>状态</th>
                        <th>连接状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.depart }}</td>
                            <td>{{ user.client }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.type }}</td>
                            <td>{{ moment(user.addtime).format('YYYY-MM-DD HH:mm') }}</td>
                            <td>{{ user_status[user.status] }}</td>
                            <td>{% if user.online == 1%}已连接{% else %}未连接{% endif %}</td>
                            <td>
                                {% if user.status == 1 and user.send_status == 0 %}
                                    <a class="glyphicon glyphicon-envelope action" id="send" title="发送配置文件到邮箱"
                                       onclick="sendEmail('{{ user.client }}')"></a>
                                {% endif %}
{#                                {% if user.status == 1 and user.load_status == 1 %}#}
{#                                    <a class="glyphicon .glyphicon-envelope action" id="download"#}
{#                                       onclick="downloadClient('{{ user.client }}')"></a>#}
{#                                {% endif %}#}
                                {% if user.status == 1 %}
                                    <a class="glyphicon glyphicon-remove action" id="delete" title="删除此用户"
                                       onclick="deleteUser('{{ user.client }}')"></a>
                                {% endif %}
                                <a class="glyphicon glyphicon-tags action" id="tags" title="连接记录" href="/loglist?title=client&keyword={{ user.client }}"></a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="10" class="text-center">无相应记录</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}
